$buttonBackground: linear-gradient(135deg, #61f2ff, #212bf3);
$defTransition: 0.2s;

.calculatorButton {
  border: 0;
  background: $buttonBackground;
  font-size: 30px;
  padding: 2rem;
  cursor: pointer;
  color: white;
  transition: $defTransition;

  position: relative;

  &:after {
    content: '';
    background: radial-gradient(rgba(255, 255, 255, .3), rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
    background-size: 200% 200%;
    background-position: 200% 45%;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition-delay: .2s;
  }

  &:before {
    content: '';
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: .2s;
  }

  &:hover {
    &:after {
      background-position: -200% 45%;
      transition: .5s;
      transition-delay:.2s;
    }

    &:before {
      background: rgba(0, 0, 0, .1);
    }
  }
}
