$border-radius: 5px;

.calculatorForm {
  background: #e0f5df;
  padding: 1rem 2rem;
  border: 2px solid #716f6f;
  border-radius: $border-radius;
  font-size: 30px;
  color: #2b3a42;
  width: 300px;
  height: 70px;
  outline: none;
  transition: .2s;
  &:focus {
    box-shadow: inset 0 0 10px rgba(0,0,0,.3);
  }
}
